main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;
}

main .main-header {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

main .main-header h2 {
    text-align: center;
}

main .main-header span {
    font-size: 20px;
    text-align: justify;
}

main .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 3rem 1rem;
}

main .cards-container .secondary-cards-container {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

main .cards-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 630px;
    gap: 1rem;
}

main .cards-container .card .card-header {
    text-align: center;
    color: var(--black);
    text-align: center;
    min-height: 85px;
    width: 60%;
}

main .cards-container .card .card-header h3 {
    font-size: 32px;
}

main .cards-container .card .card-header h4 {
    font-size: 20px;
    font-weight: 600;
}

main .cards-container .card .card-body {
    padding: 1.5rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    background-color: var(--brand-red);
    border-radius: 8px;
}

main .cards-container .card .card-body.card-light {
    background-color: var(--brand-red-light-02);
}

main .cards-container .card .card-body p {
    font-size: 20px;
    color: var(--white);
    text-align: start;
    font-weight: 300;
}

/* --- RESPONSIVIDADE --- */
@media (min-width: 901px) and (max-width: 1670px) {
    main .cards-container .secondary-cards-container {
        max-width: 760px;
        margin: 0 auto;
        justify-content: center;
    }

    main .cards-container .secondary-cards-container:nth-of-type(n+2) .card:nth-child(1) .card-body {
        background-color: var(--brand-red-light-02) !important;
        color: var(--white) !important;
    }

    main .cards-container .secondary-cards-container:nth-of-type(n+2) .card:nth-child(2) .card-body {
        background-color: var(--brand-red) !important;
        color: var(--white) !important;
    }

    main .cards-container .secondary-cards-container:nth-of-type(n+2) .card:nth-child(3) .card-body {
        background-color: var(--brand-red) !important;
        color: var(--white) !important;
    }

    main .cards-container .secondary-cards-container:nth-of-type(n+2) .card:nth-child(4) .card-body {
        background-color: var(--brand-red-light-02) !important;
        color: var(--white) !important;
    }
}

@media (max-width: 900px) {
    main {
        padding: 40px 15px;
    }

    main .main-header {
        width: 100%;
    }

    main .cards-container {
        width: 100%;
        margin: 2rem 0;
        gap: 2rem;
    }

    main .cards-container .secondary-cards-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main .cards-container .card {
        width: 100%;
        max-width: none;
        height: auto;
        min-height: 250px;
    }

    main .cards-container .card .card-body {
        height: auto;
    }

    main .cards-container .card:nth-child(odd) .card-body {
        background-color: var(--brand-red) !important;
    }


    main .cards-container .card:nth-child(even) .card-body {
        background-color: var(--brand-red-light-02) !important;
    }
}