main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;
}

main .accordion {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .accordion .accordion-item {
    border-bottom: 1px solid rgb(94, 92, 91, 30%);
}

main .accordion .accordion-item .accordion-header {
    width: 100%;
    background-color: rgb(94, 92, 91, 10%);
    color: var(--brand-red);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: .5rem 1rem;
    text-align: start;
    transition: color 0.3s ease;
}

main .accordion .accordion-item .accordion-header:hover {
    background-color: #e0e0e0;
}

main .accordion .accordion-item .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

main .accordion .accordion-item .accordion-content .accordion-list {
    list-style: none;
    padding: 1.5rem;
    margin: 0;
}

main .accordion .accordion-item .accordion-content .accordion-list li {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
}

main .accordion .accordion-item .accordion-content .accordion-list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

main .accordion .accordion-item .accordion-content .accordion-list a {
    text-decoration: none;
    color: var(--gray);
    font-size: 18px;
    transition: color 0.3s;
}

main .accordion .accordion-item .accordion-content .accordion-list a:hover {
    color: var(--brand-red);
    text-decoration: underline;
}