main .news-slider {
    position: relative;
    width: 100%;
}

main .news-slider .slider-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

main .news-slider .slider-container .slide {
    display: none;
    height: 100%;
    width: 100%;
}

main .news-slider .slider-container .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

main .news-slider .slider-container .slide .slide-content {
    position: absolute;
    bottom: 50px;
    left: 70px;
    color: var(--white);
    max-width: 600px;
}

main .news-slider .slider-container .slide .slide-content h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

main .news-slider .slider-container .fade {
    animation-name: fade;
    animation-duration: .8s;
}

main .news-slider .slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--white);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 24px;
    transition: 0.3s;
    z-index: 10;
    border-radius: 5px 0 0 5px;
}

main .news-slider .slider-container .prev-btn {
    left: 0;
}

main .news-slider .slider-container .next-btn {
    right: 0;
}

main .news-slider .slider-container .prev-btn:hover,
main .news-slider .slider-container .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

main .cards-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding: 4rem 0;
    max-width: 1300px;
    margin: 0 auto;
}

main .cards-container .card {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .6rem;
    border-radius: 8px;
    width: 100%;
    height: 270px;
    font-size: 32px;
    font-weight: 700;
    background-color: var(--brand-red);
    color: var(--white);
    transition: transform 0.8s;
}

main .cards-container .card:hover {
    transform: scale(1.03);
    color: var(--brand-red);
    background-color: var(--white);
    border: 1px solid var(--brand-red);
}

main .cards-container .card-light {
    background-color: var(--brand-red-light-02);
}

main .cards-container .card-light:hover {
    color: var(--brand-red-light-02);
    border: 1px solid var(--brand-red-light-02);
}

main .cards-container .card .card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    width: 100%;
    height: 100%;
}

main .cards-container .card .card-front .svg-inline--fa {
    font-size: 40px;
}

main .cards-container .card:hover .card-front {
    display: none;
}

main .cards-container .card .card-back {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
    animation: fadeIn 0.3s ease-in;
    width: 100%;
    height: 100%;
}

main .cards-container .card .card-back ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem;
}

main .cards-container .card .card-back ul li {
    display: flex;
}

main .cards-container .card .card-back ul li a {
    color: var(--brand-red);
    font-size: 18px;
    font-weight: 600;
}

main .cards-container .card .card-back ul li a:hover {
    text-decoration: underline;
}

main .cards-container .card:hover .card-back {
    display: flex;
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}