* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 164px;
}

a {
    text-decoration: none;
    list-style: none;
}

ul,
ol {
    list-style: none;
}

:root {
    --brand-red: #BC1823;
    --brand-red-light: #FF5050;
    --brand-red-light-02: #C95A60;
    --brand-red-dark: #780116;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #5E5C5B;
}

header {
    background-color: var(--brand-red);
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .logo-container span {
    display: flex;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
}

header .search-container {
    background-color: var(--white);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.4s ease-in-out;
}

header .search-container:hover,
header .search-container:focus-within {
    width: 300px;
    cursor: pointer;
}

header .search-container input {
    width: 0;
    border: none;
    outline: none;
    background: transparent;
    color: var(--brand-red);
    font-size: 16px;
    font-weight: 500;
    transition: width 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 0;
}

header .search-container:hover input,
header .search-container:focus-within input {
    width: 100%;
    opacity: 1;
    padding-left: 20px;
}

header .search-container input::placeholder {
    color: var(--gray);
    font-weight: 400;
}

header .search-container .search-icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--white);
}

header .search-container .fa-magnifying-glass {
    color: var(--brand-red);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
}

header .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

header .nav-container nav {
    display: flex;
}

header .nav-container nav ul {
    display: flex;
    gap: 1rem;
}

header .nav-container nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    display: inline-block;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

header .nav-container nav ul li a:hover {
    opacity: 1;
    font-weight: 500;
}

header .nav-container nav ul li a.active {
    opacity: 1;
    font-weight: 500;
    border-bottom: 2px solid var(--white);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 4rem;
    background-color: var(--brand-red);
}

footer .adress-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 1700px;
    padding-bottom: 4rem;
}

footer .adress-container .adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
}

footer .adress-container .adress .adress-title {
    display: flex;
    gap: .5rem;
    align-items: flex-start;
    font-weight: 600;
}

footer .adress-container .adress .adress-title .svg-inline--fa {
    font-size: 20px;
}

footer .adress-container .adress .adress-info {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    gap: .6rem;
    margin-top: .6rem;
}

footer .copy {
    border-top: 1px solid var(--black);
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
}