* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 164px;
}

a {
    text-decoration: none;
    list-style: none;
}

ul,
ol {
    list-style: none;
}

:root {
    --brand-red: #BC1823;
    --brand-red-light: #FF5050;
    --brand-red-light-02: #C95A60;
    --brand-red-dark: #780116;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #5E5C5B;
}

main h2 {
    font-size: 64px;
    color: var(--brand-red);
}

header {
    background-color: var(--brand-red);
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .logo-container span {
    display: flex;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
}

header .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

header .nav-container nav {
    display: flex;
}

header .nav-container nav ul {
    display: flex;
    gap: 1rem;
}

header .nav-container nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    display: inline-block;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

header .nav-container nav ul li a:hover {
    opacity: 1;
    font-weight: 500;
}

header .nav-container nav ul li a.active {
    opacity: 1;
    font-weight: 500;
    border-bottom: 2px solid var(--white);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 4rem;
    background-color: var(--brand-red);
}

footer .adress-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 1700px;
    padding-bottom: 4rem;
}

footer .adress-container .adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
}

footer .adress-container .adress .adress-title {
    display: flex;
    gap: .5rem;
    align-items: flex-start;
    font-weight: 600;
}

footer .adress-container .adress .adress-title .svg-inline--fa {
    font-size: 20px;
}

footer .adress-container .adress .adress-info {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    gap: .6rem;
    margin-top: .6rem;
}

footer .copy {
    border-top: 1px solid var(--black);
    padding: .6rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 1440px) {
    footer .adress-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 1200px) {
    footer .adress-container {
        gap: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 100%;
    }

    footer .adress-container .adress .adress-info span {
        font-size: 13px;
    }

    footer .adress-container .adress .adress-title {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    body {
        /* Remove o espaço fixo pois o header não será mais fixo */
        padding-top: 0;
        width: 100%;
    }

    header {
        position: relative;
        flex-direction: column;
        padding: 1.5rem;
        gap: 1.5rem;
        height: auto;
    }

    header .logo-container {
        flex-direction: column;
        text-align: center;
    }

    header .logo-container img {
        max-width: 120px;
    }

    header .logo-container span {
        font-size: 16px;
        text-align: center;
    }

    header .nav-container {
        display: none;
    }

    main h2 {
        font-size: 32px;
        text-align: center;
    }

    footer .adress-container {
        grid-template-columns: 1fr;
        padding: 0 2rem 2rem 2rem;
        gap: 2rem;
        text-align: center;
    }

    footer .adress-container .adress {
        align-items: center;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 2rem;
    }

    footer .adress-container .adress:last-child {
        border-bottom: none;
    }

    footer .adress-container .adress .adress-info {
        padding-left: 0;
        align-items: center;
    }
}