header .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

header .nav-container nav {
    display: flex;
}

header .nav-container nav ul {
    display: flex;
    gap: 1rem;
}

header .nav-container nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    display: inline-block;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

header .nav-container nav ul li a:hover {
    opacity: 1;
    font-weight: 500;
}

header .nav-container nav ul li a.active {
    opacity: 1;
    font-weight: 500;
    border-bottom: 2px solid var(--white);
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 4rem;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 210px;
}

main section h2 {
    font-size: 64px;
    color: var(--brand-red);
}

main section#ufsj {
    gap: 1.5rem;
}

main section#ufsj span {
    text-align: justify;
    font-size: 24px;
    font-weight: 300;
}

main section#cursos {
    display: flex;
    gap: 1.5rem;
}

main section#cursos .accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main section#cursos .accordion .campus-header {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--gray);
    border-bottom: 1px solid #ddd;
    transition: color 0.3s ease;
    gap: .8rem;
    padding: 1rem;
}

main section#cursos .accordion .campus-header.active .fa-chevron-down {
    transform: rotate(180deg);
}

main section#cursos .accordion .campus-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

main section#cursos .accordion .campus-container .accordion-item {
    display: flex;
    flex-direction: column;
}

main section#cursos .accordion .campus-container .accordion-item .accordion-header {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: .8rem;
    color: var(--brand-red);
    transition: color 0.3s ease;
    font-size: 16px;
}

main section#cursos .accordion .campus-container .accordion-item .accordion-header:hover {
    background-color: #e0e0e0;
}

main section#cursos .accordion .campus-container .accordion-item.active .accordion-header span {
    font-weight: 500;
}

main section#cursos .accordion .campus-container .accordion-item.active .accordion-header .fa-chevron-down {
    transform: rotate(180deg);
}

main section#cursos .accordion .campus-container .accordion-item .accordion-content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

main section#cursos .accordion .campus-container .accordion-item .accordion-content .content-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .6rem;
    line-height: 1.6;
    text-align: justify;
}