header .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

header .nav-container nav {
    display: flex;
}

header .nav-container nav ul {
    display: flex;
    gap: 1rem;
}

header .nav-container nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    display: inline-block;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

header .nav-container nav ul li a:hover {
    opacity: 1;
    font-weight: 500;
}

header .nav-container nav ul li a.active {
    opacity: 1;
    font-weight: 500;
    border-bottom: 2px solid var(--white);
}

main section {
    min-height: 100vh;
    border-bottom: 1px solid #ccc;
    scroll-margin-top: 184px;
    padding-top: 40px;
}

#ufsj {
    background-color: #f9f9f9;
}

#cursos {
    background-color: #e9e9e9;
}

#mapa {
    background-color: #d9d9d9;
}