main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 4rem;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 210px;
    gap: 1.5rem;
}

main section h2 {
    font-size: 64px;
    color: var(--brand-red);
}

main section#ufsj span {
    text-align: justify;
    font-size: 24px;
    font-weight: 300;
}

main section#cursos .accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main section#cursos .accordion .campus-header {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--gray);
    border-bottom: 1px solid #ddd;
    transition: color 0.3s ease;
    gap: .8rem;
    padding: 1rem;
}

main section#cursos .accordion .campus-header.active .fa-chevron-down {
    transform: rotate(180deg);
}

main section#cursos .accordion .campus-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

main section#cursos .accordion .campus-container .accordion-item {
    display: flex;
    flex-direction: column;
}

main section#cursos .accordion .campus-container .accordion-item .accordion-header {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: .8rem;
    color: var(--brand-red);
    transition: color 0.3s ease;
    font-size: 16px;
}

main section#cursos .accordion .campus-container .accordion-item .accordion-header:hover {
    background-color: #e0e0e0;
}

main section#cursos .accordion .campus-container .accordion-item.active .accordion-header span {
    font-weight: 500;
}

main section#cursos .accordion .campus-container .accordion-item.active .accordion-header .fa-chevron-down {
    transform: rotate(180deg);
}

main section#cursos .accordion .campus-container .accordion-item .accordion-content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

main section#cursos .accordion .campus-container .accordion-item .accordion-content .content-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .6rem;
    line-height: 1.6;
    text-align: justify;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 1440px) {
    main section#mapa {
        width: 100%;
        padding: 0;
    }

    main section#mapa iframe {
        width: 90% !important;
        height: 800px !important;
    }
}

@media (max-width: 1024px) {
    main section#mapa {
        width: 100%;
        padding: 0;
    }

    main section#mapa iframe {
        width: 100% !important;
        height: 700px !important;
    }
}

@media (max-width: 900px) {
    main {
        padding: 40px 15px;
        gap: 2rem;
    }

    main section h2 {
        font-size: 32px;
        text-align: center;
    }

    main section#ufsj span {
        font-size: 16px;
        line-height: 1.5;
    }

    main section#cursos .accordion .campus-header {
        font-size: 18px;
        padding: 1rem 0;
    }

    main section#cursos .accordion .campus-container .accordion-item .accordion-header {
        font-size: 15px;
        padding: 0.8rem 0.5rem;
    }

    main section#cursos .accordion .campus-container .accordion-item .accordion-content .content-body {
        font-size: 14px;
    }

    main section#mapa {
        width: 100%;
        padding: 0;
    }

    main section#mapa iframe {
        width: 100% !important;
        height: 400px !important;
    }
}